interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.SecurityInsights/enrichment/ip/geodata/?api-version=2022-06-01-preview&ipAddress=1.2.3.4
  response:
    body:
      string: '{"asn":null,"carrier":null,"city":"brisbane","cityCf":50,"continent":"oceania","country":"australia","countryCf":86,"ipAddr":"1.2.3.4","ipRoutingType":"fixed","latitude":"-27.46758","longitude":"153.02789","organization":"apnic
        debogon project","organizationType":"Telecommunications","region":null,"state":"queensland","stateCf":68,"stateCode":"qld"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
