interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.SecurityInsights/enrichment/domain/whois/?api-version=2022-06-01-preview&domain=microsoft.com
  response:
    body:
      string: '{"domain":"microsoft.com","server":"whois.markmonitor.com","created":"1991-05-02T00:00:00Z","updated":"2022-04-18T00:00:00Z","expires":"2023-05-03T00:00:00Z","parsedWhois":{"registrar":{"name":"MarkMonitor,
        Inc.","abuseContactPhone":"12086851750","abuseContactEmail":"abusecomplaints@markmonitor.com","ianaId":"292","url":"http://www.markmonitor.com","whoisServer":"whois.markmonitor.com"},"contacts":{"admin":{"name":"Domain
        Administrator","org":"Microsoft Corporation","street":["One Microsoft Way,"],"city":"Redmond","state":"WA","postal":"98052","country":"us","phone":"14258828080","fax":"14259367329","email":"admin@domains.microsoft"},"registrant":{"name":"Domain
        Administrator","org":"Microsoft Corporation","street":["One Microsoft Way,"],"city":"Redmond","state":"WA","postal":"98052","country":"us","phone":"14258828080","fax":"14259367329","email":"admin@domains.microsoft"},"billing":{"name":"","org":"","street":[],"city":"","state":"","postal":"","country":"","phone":"","fax":"","email":""},"tech":{"name":"MSN
        Hostmaster","org":"Microsoft Corporation","street":["One Microsoft Way,"],"city":"Redmond","state":"WA","postal":"98052","country":"us","phone":"14258828080","fax":"14259367329","email":"msnhst@microsoft.com"}},"nameServers":["ns1-39.azure-dns.com","ns2-39.azure-dns.net","ns3-39.azure-dns.org","ns4-39.azure-dns.info"],"statuses":["clientUpdateProhibited","clientTransferProhibited","clientDeleteProhibited","serverUpdateProhibited","serverTransferProhibited","serverDeleteProhibited"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
